
/* Barra de navegación*/

.barranavegacion{

    height: 30px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #212121;
    color: white;
    padding: 15px;
    margin: -8px;
    
    
}

#botoncarrito{
    float:right;
    margin-right: 2%;
}



.botonnavegacion {
   
    text-decoration: none;
    font-size: 1em;
    padding: 15px;
    padding-top: 0px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .botonnavegacion:focus,
  .botonnavegacion:hover {
    color: #fff;
  }
  
  .botonnavegacion:focus:after,
  .botonnavegacion:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .botonnavegacion:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }





/*Carrito*/

.carrito{
    display: none;
    position: fixed;
    overflow-y:scroll;
    z-index: 100;
    height: 87vh;
    width: 30%;
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
    top: 65px;
    right: 0%;
    background-color: white;
    border: 1px solid black;
}

.hide{ display: block;}


.articulocarrito{

  display: flex;
  flex-direction: row;

}
.articulocarrito p{
  padding: 1%;
}
#botoneracarrito{
  gap:1%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


/* Contenedor productos*/

.contenedor{
    width: 100%;
    gap:5%;
    
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
    
    
}



/* Tarjeta producto*/

.producto {
    margin-top: 2%;
    margin: auto;
    padding: 5%;
    width: 10%;
    min-height: 400px;
    min-width: 150px;
    text-align: center;
    transition: all 300ms;
   }
   
   .producto:hover {
    
    transform: scale(1.10);
   }
   
 .producto img{
    width: 75%;
    

 }  

p{font-weight: 1000;
    font-size: 17px;}



.Añadir {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow:visible;
   }
   
   .Añadir::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .Añadir:hover {
    color: #e8e8e8;
   }
   
   .Añadir:hover::before {
    width: 100%;
   }