



.pregunta{
    
    width: 60%;
    padding: 2%;
    margin: auto;
    background-color: rgb(217, 235, 229);
}


#progress-bar{
    
    
    background-color: rgb(57, 172, 180);
    border-radius: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    
    }

